@using Admin.Models.Sınıflar
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Id</th>
        <th>İsim</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {

         <tr>
            <td>@x.Id</td>
            <td>@x.İsim</td>
            <td><a href="#" class="btn btn-primary">Güncelle</a></td>
         </tr>
        
    }
   
</table>
