@using Admin.Models.Sınıflar
@model List<İkonlar>

<div class="social">
    @foreach (var x in Model)
    {
        <a href="@x.Link" target="_blank">
            <i class="@x.İkon"></i>
        </a>
    }
</div>
